body {
	margin: 0 auto;
  font-family: Arial;
  background-color: red;
}

input::-moz-focus-inner { 
  border: 0; 
}

a {
   outline: 0;
}

.submit-button {
	margin-top: 20px;
	width: 280px;
}
.game-area {
	margin:0 auto;
	text-align: center;
  padding-top: 20px;
}

.game-options {
	border-bottom: 1px dashed #CFCFCF;
  padding-bottom: 20px;
  
}
.game-options select, .game-options input  {
	border: 1px solid #000;
	padding: 10px;
	margin-right: 10px;
  outline: none;
  margin: 13px;
  box-shadow: -2px 2px 12px #333;
}
.game-board {
	margin-top: 50px;
  padding: 10px;
}
.grid-box, .green-player, .red-player, .blue-player, .yellow-player {
	font-size: 35px;
	padding: 15px 25px;
	width: 80px;
	height: 80px;
	margin: 2px;
	background-color: #FCFCFC;
  outline: none;
  box-shadow: -5px 5px 15px #333;
}
.green-player {
	background-color: green;
	color: #FFF;
}
.red-player {
	background-color: red;
	color: #FFF;
}
.blue-player {
	background-color: blue;
	color: #FFF;
}
.yellow-player {
	background-color: yellow;
	color: #FFF;
}
.score-card {
	font-weight: bold;
	line-height: 25px;
}
.score-card span {
	font-weight: normal;
}

.background_color {
  width: 60px;
  height: 150px;
  float: left;
  margin: 0px 0 0 20px;
}
.background_color button {
  box-shadow: -2px 2px 12px #333;
  width: 60px;
  margin-bottom: 10px;
  color: #fff;
}
.red {
  background-color: red;
  border: 1px solid red;
}
.lime {
  background-color: lime;
  border: 1px solid lime;
}
.yellow {
  background-color: yellow;
  border: 1px solid yellow;
}
.green {
  background-color: green;
  border: 1px solid green;
}
.blue {
  background-color: blue;
  border: 1px solid blue;
}

